<div class="outerDiv">
    <br><br><br><br>
    <div class="card centerall">
        <h2>Update Details</h2>
        <hr>
        <div class="card-body">
            <div class="input-group mb-3 inp">
                <input type="text" [(ngModel)]="updatedpass" class="" placeholder="Enter new password">
                <button (click)="updatePassword()" id="cbtn" class="btn btn-secondary">Change Password</button>
            </div>
    <!-- <p>{{updatedpass}}</p> -->
    <!-- <br>
    <br><br><br> -->
             <div class="input-group mb-3 inp">
                <input type="text" [(ngModel)]="updatedusername" class="" placeholder="Enter new username">
                <button (click)="updateUserName()" id="cbtn" class="btn btn-secondary">Change username</button>
            </div>
        </div>
    </div>
</div>